.color-item {
  position: absolute;
  display: flex;
  padding: 0 0.8rem;
  justify-content: space-evenly;
  height: 2.5rem;
  width: 25rem;
  top: 14.2rem;
  left: 4.5rem;
}

.color-container {
  position: relative;
  background-color: #d0d0d0;
  border-radius: 20%;
  height: 100%;
  width: 10%;
}

.color-container-circle {
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  justify-content: center;
  top: 25%;
  left: 25%;
}
