.colors {
  position: absolute;
  top: 3.5rem;
  left: 0;
  padding: 0.8rem;
  margin: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 20%;
}

.color-item {
  position: absolute;
  margin: 0 5px 0px 5px;
  top: 0.2rem;
  left: 3.5rem;
}

.color-container {
  position: relative;
  background-color: #f2f2f2;
  border-radius: 20%;
  margin: 0 1rem 0.5rem 1rem;
  height: 2.5rem;
  width: 2.5rem;
}

.color-container-circle {
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  justify-content: center;
  top: 25%;
  left: 25%;
}
