.container {
  position: relative;
}

.canvas {
  position: absolute;
  background-color: "#f2f2f2";
}

.eraser {
  background-color: #f2f2f2;
  margin: 0.5rem;
  padding: 0.8rem;
  border-radius: 20%;
}
